<main class="w-full flex flex-col justify-center items-center bg-[#1A2238]">
  <h1 class="text-9xl font-extrabold text-white tracking-widest">start</h1>
  <div class="bg-[#FF6A3D] px-2 text-5xl rounded rotate-12 absolute">home</div>
</main>

<br />
<button (click)="update()">update data</button>

<hr />

<input #inp="ngModel" [(ngModel)]="url" placeholder="http://mydomain.com" />

url: {{ inp.value }}

<ng-dynamic plugin.component.test [url]="data.id + '=' + inp.value" (send)="testSend($event)">
  <span>test projectable content</span><br />
  <span class="test1"> text 1</span>
  <span class="test2"> text 2</span>
</ng-dynamic>
